<a href="{{ .RelPermalink }}">
	{{ if .Params.thumbnail }}
		<img src="{{ .Params.thumbnail }}" alt="{{ .Title }}" />
	{{ else if .Params.image  }}
	{{ $page := . }}
{{ with $.Site.GetPage "page" "img/_index.md" }}
    {{ $imgPath := split $page.Params.image "/"}}
    {{ $img := index $imgPath 2 }}
    {{ with .Resources.GetMatch $img }}
        {{$img400 := .Resize "400x"}}
        <img src="{{ $img400.RelPermalink }}" alt="{{ .Title }}">
    {{ end }}
{{ end }}
	{{ end }}
	<h3 class="title">{{ .Title }}</h3>
</a>
