<aside class="sidebar blog">
  <div class="content">
    
    {{ with .Site.GetPage "/hamlets-danish-comic" }}
      {{ range first 1 .Pages}}
        <a href="{{ .RelPermalink }}"><h2 class="sidebar-title">Latest Hamlet's Danish</h2>
        {{ if .Params.thumbnail }}
          <img src="{{ .Params.thumbnail }}" alt="{{ .Title }}" />
        {{ end }}
        </a>
      {{ end }}
    {{ end }}
    <h2 class="sidebar-title">Rob and Elliot Archives</h2>
    <a href="/raecomic"><img src="/img/rae-promo.png" alt="Rob and Elliot Archives" /></a>
    <h2>Search Blog</h2>
    {{ partial "search" . }}
    <h2>Twitter Feed</h2>
    <div class="twitter-holder">
      <a class="twitter-timeline" data-tweet-limit="8" data-width="800" href="https://twitter.com/clayyount?ref_src=twsrc%5Etfw">Tweets by clayyount</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</aside>

