<div class="comic-holder">
      <div class="comic-title">
        <h1>{{.Title}}</h1>
      </div>
      <div class="comic">
        {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
      </div>

      <nav class="comic-nav">
          {{if .PrevInSection}}
          <a href="{{ range last 1 .CurrentSection.Pages }}{{ .Permalink }}{{ end }}">First</a>
          <a href="{{.PrevInSection.Permalink}}">Prev<span class="hidden-sm">ious</span></a>
          {{ else }}
          <a class="disabled">First</a>
          <a class="disabled">Prev<span class="hidden-sm">ious</span></a>
          {{ end }}
          <a href="#" id="random-btn">Rand<span class="hidden-sm">om</span></a>
          <a href="{{ print "/" (index (split .RelPermalink "/") 1) }}" id="random-btn">Archive</a>
          {{ if .NextInSection }}
          <a href="{{ .NextInSection.Permalink }}">Next</a>
          <a href="{{ range first 1 .CurrentSection.Pages }}{{ .Permalink }}{{ end }}">Today</a>
          {{ else }}
          <a class="disabled">Next</a><a class="disabled">Today</a>
          {{ end }}
          
      </nav>
    
      <script>
        //Set the Random link
        var currentPageLink="{{ .Permalink }}";
        {{ with .Site.GetPage (print "/" (index (split .RelPermalink "/") 1)) }}
        var pages=[
          {{ range .Pages }}
            "{{ .Permalink }}"{{if .PrevInSection}},{{ end }}
          {{ end }}
          ];
        {{ end }}
        var randPages=pages.slice(0);
        randPages.splice( randPages.indexOf(currentPageLink), 1 );
        var randComicIndex=Math.floor(Math.random() * Math.floor(randPages.length));
        document.getElementById("random-btn").setAttribute("href",randPages[randComicIndex])
      </script>

    </div>
    <div class="content">
      <div class="comic-body">
        <div class="comic-meta">
          <p>Date: {{ .Date.Format "Mon, Jan 2, 2006" }}</p>
          <p>{{ with .Params.tags }}
              Tag{{ if gt (len .) 1 }}s{{ end }}:
              {{ range . }}
                <a href="/tags/{{ replace (replace (lower .) " " "-") "'" ""}}" class="tag">{{ . }}</a>
              {{ end }}
            {{ end }}
          </p>
        </div>
        <div class="comic-comment">
          {{ .Content }}
        </div>
      </div> 
    </div>
  </div>
