<!-- Contact -->
<div class="contact">
  <form action="">
    <div class="input-group">
          <!-- Name -->
      <div class="input-field">
        <fieldset>
          <input type="text" id="name" placeholder="Name">
          <label for="name">Name</label>
        </fieldset>
      </div>
          <!-- Email -->
      <div class="input-field">
        <fieldset>
          <input type="email" id="email" placeholder="Email">
          <label for="email">Email</label>
        </fieldset>
      </div>
    </div>

        <!-- Message -->
    <fieldset>
      <textarea name="name" placeholder="Your message" rows="8" cols="80" id="message"></textarea>
      <label for="message">Your message</label>
    </fieldset>
        <!-- Button -->
    <div class="button-holder">
      <button type="submit" class="btn">Submit</button>
    </div>
  </form>
</div>
