<!-- Contact -->
<div class="contact-form">
  <form name="Contact Form" method="POST" netlify>
    <div class="input-group">
          <!-- Name -->
      <div class="input-field">
        <fieldset>
          <label for="name">Name</label>
          <input type="text" id="name" name="name" placeholder="Name">
        </fieldset>
      </div>
          <!-- Email -->
      <div class="input-field">
        <fieldset>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="Email">
        </fieldset>
      </div>
            <!-- Message -->
      <div class="input-field">
        <fieldset>
          <label for="message">Your message</label>
          <textarea name="message" placeholder="Your message" rows="8" cols="80" id="message"></textarea>
        </fieldset>
      </div>
      <div class="button-holder">
        <button type="submit" class="btn">Submit</button>
      </div>
    </div>
        <!-- Button -->
    
  </form>
</div>
