<footer>
	<div class="social-media">
		<h3>Follow Me</h3>
		<ul>
			{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
			{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
		</ul>
	</div>
</footer>
<script src="/app.js"></script>
</body>
<script>
	document.getElementById("mobile-menu-btn").addEventListener("click", function(){
		if(document.getElementById("site-nav").classList.contains("open")){
			document.getElementById("site-nav").classList.remove("open");
		}else{
			document.getElementById("site-nav").classList.add("open");
		}
	});
</script>
</html>