<footer>
	<div class="social-media">
		<h3>Follow Me</h3>
		<ul>
			{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
			{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
		</ul>
	</div>
</footer>
<script src="/app.js"></script>
</body>
<script>
	document.getElementById("mobile-menu-btn").addEventListener("click", function(){
		if(document.getElementsByTagName("html")[0].classList.contains("menu-open")){
			document.getElementsByTagName("html")[0].classList.remove("menu-open");
		}else{
			document.getElementsByTagName("html")[0].classList.add("menu-open");
		}
	});
</script>
</html>
