<nav id="site-nav">

	<!-- Logo -->
	{{ with .Site.GetPage (print "/" (index (split .RelPermalink "/") 1)) }}
		{{ if and .Params.logolink .Params.logo }}
		<a href="{{ .Params.logolink }}">
			<img src="{{ .Params.logo}}" alt="Site logo" id="site-logo"/>
		</a>
		{{ else }}
		<a href="/">
			<img src="/img/cy-logo-angle.png" alt="Site logo" id="site-logo"/>
		</a>
		{{ end }}
	{{ end }}
	<div class="social-media">
		<ul>
			{{ partial "social-icon" (dict "link" "https://twitter.com/clayyount" "service" "twitter" "icon" "fab fa-twitter") }}
			{{ partial "social-icon" (dict "link" "https://www.facebook.com/hamletsdanish" "service" "facebook" "icon" "fab fa-facebook-f") }}
			{{ partial "social-icon" (dict "link" "/hamlets-danish-comic/index.xml" "service" "rss" "icon" "fas fa-rss") }}
		</ul>
	</div>

	<!-- Primary Nav -->
	<ul>
		<li><a href="/blog">Blog</a></li>

		<li><a href="/hamlets-danish">Hamlet's Danish</a></li>
		<li class="dropdown">
			<a>Archives</a>
			<ul>
				<li><a href="/hamlets-danish-comic">Hamlet's Danish Archive</a></li>
				<li><a href="/rae-comic">Rob and Elliot Archive</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a>Info</a>
			<ul>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</li>
	</ul>
	<span class="mobile-menu-btn" id="mobile-menu-btn">
		<span class="menu-icon"></span>
	</span>

</nav>
