<script src="/js/lunr.js"></script>
<script>
	var pagesIndex;
	var lunrIndex;
	$(document).ready(function(){
		 $.getJSON("/"+{{ .Dir }}+"index.json").done(function(index) {
            pagesIndex =   index;
            lunrIndex = new lunr.Builder()
            lunrIndex.ref("uri");
            lunrIndex.field('title', {
                boost: 15
            });
            lunrIndex.field('tags', {
                boost: 10
            });
            lunrIndex.field("content", {
                boost: 5
            });
            pagesIndex.forEach(function(page) {
                lunrIndex.add(page);
            });
        })	
		$("#search-input").on('input', updateResults)
	    $(".search .close-btn").click(function(){
	    	$("#search-input").val("")
	    	updateResults()
	    })
	    function updateResults(){
	    	var searchTerm=$("#search-input").val();
	    	if(searchTerm.length>1){
	    		$(".search .close-btn").show();
	    	}else{
	    		$(".search .close-btn").hide();
	    	}
	    	if(searchTerm.length>2){
		    	var resultsHTML="<ul>";
		    	lunrIndex.build().search("+"+searchTerm+"*").map(function(result,index){
	    			var searchIndex = pagesIndex.findIndex(x => x.uri==result.ref)
					resultsHTML+='<li><a href="'+result.ref+'">'+pagesIndex[searchIndex].title+'</a></li>';
	            })
	            resultsHTML+="</ul>"
	            $("#search-results").html(resultsHTML)
	        }else{
	        	$("#search-results").html("")
	        }
	    }
    });

</script>
<div class="search">
<input id="search-input" class="search-input" placeholder="Search Terms"/>
<div class="close-btn"><i class="fas fa-times"></i></div>
<div id="search-results" class="search-results"></div>
</div>
