$navHeight:5rem;
$contentWidth:1000px;
/*$link-color:#e74c3c;*/
/*$link-color:#d31148;*/
$link-color:#007689;
$twitter-color:#00aced;
$facebook-color:#3b5998;
$rss-color:#f60;
$instagram-color:#f56040;
html{
	padding:0px;
	margin:0px;
	font-family: 'Roboto', sans-serif;
	background:desaturate(adjust-hue(darken($link-color,10%), 20),60%);
	background-attachment: fixed;
	padding-top:4rem;
	font-size:62.5%;
	max-width: 100%;
}
h1,h2,h3,h4{
	font-family: 'Teko', sans-serif;
	text-transform: uppercase;
	line-height: .8em;
}
h1{
	font-size:6rem;	
	margin:3rem 0rem 1rem;
}
h2{
	font-size:4rem;
	margin:3rem 0rem 1rem;
}
h3{
	font-size:3rem;
}
h4{
	font-size:2rem;
}
a{
	color:$link-color;
	text-decoration:none;
	transition: color background-color .2s;
	&:hover{
		color:darken($link-color,20%);
	}
}
.text-center{
	text-align:center;
}
.text-left{
	text-align:left;
}
.text-right{
	text-align:right;
}
img{
	max-width:100%;
}


body{
	height:100%;
	font-size:1.6rem;
	line-height:1.4em;
	padding:0px;
	margin:0px;
	max-width:$contentWidth;
	margin:0px auto;
	&[class*="ghostcat-comic"]{
		.comic img{
			width:600px!important;
		}
	}
	nav.site-nav{
		min-width: 0; 
		flex-basis:100%;
		font-family: 'Teko', sans-serif;
		line-height:5rem;
		text-transform: uppercase;
		font-size:2.5rem;
		position:relative;
		background:black;
		color:white;
		height:$navHeight;
		box-sizing:border-box;
		.social-media{
			position:absolute;
			top:-5rem;
			right:0px;
		}
		.logo{
			height:100px;
			width:300px;
			margin-top:-50px;
			background-color:$link-color;
			background-repeat:no-repeat;
			background-position:center center;
			background-size:contain;
			background-image:url(/img/cy-logo-transparent.png);
			&:after{
				content:"";
				height:100px;
				width:100px;
				border-top:50px solid transparent;
				border-right:50px solid transparent;
				border-bottom:50px solid inherit;
				border-left:50px solid darken($link-color,7%);
				box-sizing: border-box;
				position:absolute;
				right:-100px;
			}
		}
		>a{
			color:inherit;
			display:block;
			position:absolute;
			left:0px;
			img{
				height:10rem;
				margin-top:-5rem;
			}
		}
		>ul{

			list-style: none;
			padding:0px;
			margin:0px;
			position:absolute;
			right:0px;
			li{
				display:inline-block;
				margin-right:1rem;
				a{
					color:inherit;
					text-decoration:none;
					white-space: nowrap;
					&:hover{
						color:$link-color;
					}
				}
			}
		}
		.mobile-menu-btn{
			display:none;
			height:5rem;
			width:100%;
			position:absolute;
			left:0;
			cursor:pointer;
			z-index:3;
			background-color:black;
			.menu-icon{
					display:block;
					height:.5rem;
					width:3rem;
					position:absolute;
					background:white;
					top:50%;
					left:50%;
					transform:translate(-50%,-50%);
					transition: all .4s;
					&:before{
						content:'';
						height:.5rem;
						width:3rem;
						position:absolute;
						background:white;
						margin-top:-1rem;
						transition: all .4s;
					};
					&:after{
						content:'';
						height:.5rem;
						width:3rem;
						position:absolute;
						background:white;
						margin-top:1rem;
						transition: all .4s;
					};
				}
		}
	}
	
}
.ghostcat-comics .logo,.ghostcat-comics-archive .logo{
	background-image:url(/img/gc-logo-transparent.png)!important;
}
.hamlets-danish .logo,.hamlets-danish-comic .logo{
	background-image:url(/img/hd-logo-transparent.png)!important;
}
.raecomic .logo{
	background-image:url(/img/rae-logo-transparent.png)!important;
}
input textarea button{
	-webkit-appearance: none;
	-moz-appearance: none;
	-appearance: none;
}
.flex{
	display:flex;
	flex-wrap:wrap;
	box-sizing:border-box;
}
.grid-2{
	flex-basis:50%;
	padding:0px 1rem;
	box-sizing:border-box;
}
.grid-3{
	flex-basis:33%;
	padding:0px 1rem;
	box-sizing:border-box;
}
.grid-4{
	flex-basis:25%;
	padding:0px 1rem;
	box-sizing:border-box;
}
.grid-flex{
	flex-basis:20rem;
	flex-grow:1;
}

body main{
	background:white;
	padding-bottom:2rem;
}
body main,.flex-main{
	flex-grow:1;
	flex:65%;
	order:1;
	min-width: 0; 
}
body aside{
	background:#eee;
}
body aside,.flex-side{
	flex:35%;
	min-width:20rem;
	flex-grow:1;
	order:2;
	min-width: 0; 
}
body footer{
	flex-basis:100%;
	order:3;
	color:#aaa;
	min-width: 0; 
	position:relative;
	padding-bottom:2rem;
}
blockquote{
	font-family: 'Teko', sans-serif;
	text-transform: uppercase;
	color:$link-color;
	font-size:4rem;
	line-height: 1em;
}
pre{
	margin-top: 1em;
	margin-right: 0px;
	margin-bottom: 1em;
	margin-left: 0px;
	white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;
	table-layout:fixed;
    overflow:auto;
    width:100%;
    background:#eee;
    border:1px solid #ddd;
    border-radius:3px;
    max-height:300px;
    box-sizing:border-box;
    position:relative;
    padding:2rem;
    border-radius:.5rem;
    font-family: monospace,monospace;
    &:before {
		content: "SELECT CODE";
		display: block;
		position: absolute;
		font-family: "Arial",sans-serif;
		font-size: 12px;
		color: #aaa;
		right: 10px;
		top: 0px;
	}
}
.homepage-header{
	background:#222;
	width:100%;
	display:flex;
	box-sizing: border-box;
	flex-wrap: wrap;

	padding-bottom: 4rem;
	border-bottom:10px solid #999;
	article{
		padding:3rem;
		h2{color:white;}
		flex-basis:50%;
		box-sizing: border-box;
		img{
		}
	}
}
.sidebar{
	.sidebar-title{
		font-size:3rem;
		display:block;
		padding:1rem 2rem;
		background:black;
		color:white;
		margin-bottom:0px;
		width:100%;
		box-sizing:border-box;
	}
	img{
		width:100%;
	}
}
.social-media{
	ul{
		list-style: none;
		padding:0px;
		margin:0px;
		display:flex;
		li{
			display:block;
			margin:0px;

			a{
				width:5rem;
				height:5rem;
				display:block;
				color:black;
				font-size:2rem;
				position:relative;
				text-align: center;
				i{
					line-height: 5rem;
				}
				&:hover{
					color:black;
				}
				svg{
					position:absolute;
					top:50%;
					left:50%;
					transform:translate(-50%,-50%);
					display:block;
				}
			}
			a.twitter{
				background-color:$twitter-color;
				&:hover{
					background-color:darken($twitter-color,10%);
				}
			}
			a.instagram{
				background:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
				color:white;
				font-size:30px;
				&:hover{
					background:black;
				}
			}
			a.facebook{
				background-color:$facebook-color;
				&:hover{
					background-color:darken($facebook-color,10%);
				}
			}
			a.rss{
				background-color:$rss-color;
				&:hover{
					background-color:darken($rss-color,10%);
				}
			}
		}
		
	}
}
.copyright{
	position:absolute;
	right:0px;
	top:2rem;

}
.btn{
	border:none;
	padding:1rem 2rem;
	box-shadow: 0 2px 0 0 #131313;
	color: #fff;
	background-color: #272727;
	border-color: #272727;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	border-radius:3px;
	font-weight:bold;
	letter-spacing: 1px;
	font-size:1.4rem;
	text-decoration:none;
	white-space: nowrap;
	line-height:4rem;
	&:hover{
		color:white;
		background-color:$link-color;
		box-shadow: 0 2px 0 0 darken($link-color,20%);
	}
}
.jumbotron{
	flex-basis:100%;
	height:40rem;
	text-align:center;
	background:black;
	background-size:cover;
	background-position: center center;
	overflow:hidden;
	position:relative;
	h1{
		color:white;
		z-index:1;
		position:absolute;
		width:100%;
		top:50%;
		transform:translate(0 ,-50%);
		margin:0px;
	}
	&:before{
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background: $link-color;
		background: -moz-linear-gradient(top,$link-color 1%,#000000 100%);
		background: -webkit-gradient(linear,left top,left bottom,color-stop(1%,$link-color),color-stop(100%,#000000));
		background: -webkit-linear-gradient(top,$link-color 1%,#000000 100%);
		background: -o-linear-gradient(top,$link-color 1%,#000000 100%);
		background: -ms-linear-gradient(top,$link-color 1%,#000000 100%);
		background: linear-gradient(to bottom,$link-color 1%,#000000 100%);
		filter: progid:dximagetransform.microsoft.gradient(startColorstr='$link-color',endColorstr='#000000',GradientType=0);
		top: 0px;
		left: 0px;
		opacity: .8;
	}
}
.blog-list{
	padding-top:2rem;
	article{
		padding-bottom:3rem;
		display:flex;
		flex-wrap:wrap;
		.image-holder{
			flex-basis:15rem;
			flex-grow:1;
			.blog-thumbnail{
				max-width:100%;
				width:100%;
				float:left;
				margin-right:1rem;
			}
			padding-bottom:2rem;
		}
		.text-holder{
			flex-basis:30rem;
			flex-grow:1;
			padding:0rem 1rem;
			box-sizing:border-box;
			.title{
				margin:0;
			}
			.date{
				color:#aaa;
				font-style: italic;
			}
		}
	}
}
.twitter-holder{
	display:block;
}
.custom-select{
	position:relative;
	margin-bottom:2rem;
	&:after{
		content:"";
		overflow:hidden;
		display:inline-block;
		height:1rem;
		width:1rem;
		line-height:0px;
		font-size:0px;
		box-sizing: border-box;
		right:1.5rem;
		top:2.2rem;
		border-bottom:2px solid black;
		border-right:2px solid black;
		border-top:2px solid transparent;
		border-left:2px solid transparent;
		position:absolute;
		transform: rotate(45deg);
		margin-top:-10px;
	}
	select{
		background:transparent;
		height:4rem;
		overflow:hidden;
		width:100%;
		border: 1px solid #aaa;
		padding:.5rem;
		font-size:1.6rem;
		-webkit-appearance: none;
		border-radius:0px;
		
	}
}
.search{
	position:relative;
	padding-bottom:2rem;
	.search-input{
		background:transparent;
		height:4rem;
		overflow:hidden;
		width:100%;
		border: 1px solid #aaa;
		padding:.5rem;
		font-size:1.6rem;
		-webkit-appearance: none;
		border-radius:0px;
		box-sizing:border-box;
	}
	.close-btn{
		height:2rem;
		width:2rem;
		text-align:center;
		line-height:2rem;
		position:absolute;
		top:1rem;
		right:1rem;
		cursor: pointer;
		display:none;
	}
	.search-results{
		position:relative;
		ul{
			max-height:400px;
			overflow:auto;
			position:absolute;
			box-sizing:border-box;
			padding:0px;
			margin:0px;
			background:white;
			list-style: none;
			width:100%;
			-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.28);
			-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.28);
			box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.28);
			li{
				a{
					padding:1rem 2rem;
					display:block;
					border-bottom:1px solid #eee;
				}
			}
		}
	}
}
	
.contact-form{
	padding:1rem;
	.input-group{
		display:flex;
		flex-wrap:wrap;
		justify-content: space-between;
		.input-field{
			box-sizing:border-box;
			flex-basis:50%;
			min-width:30rem;
			flex-grow:1;
			padding:1rem;
		}
		.button-holder{
			box-sizing:border-box;
			flex-basis:100%;
			flex-grow:1;
			padding:0px 1rem;
		}
	}
	fieldset{
		border:none;
		padding:0;
		margin:0px;
		box-sizing:border-box;
		label{
			margin-bottom:1rem;
			display:block;
		}
		input, textarea{
			width:100%;
			padding:1rem 2rem;
			box-sizing:border-box;
			border-radius:3px;
			border:1px solid #aaa;
		}
		textarea{
			padding:1rem;
		}
		label{

		}
	}
}
.homepage-content{
	width:100%;
		height:100%;
	flex-basis:100%;
	background:black;
	color:white;
	padding:2rem 0rem;
	.profile-pic-holder{
		align-self:center;
	}
	.profile-pic{
		border-radius:1000px;
		overflow:hidden;
		max-width:100%;
		margin-right:2rem;
		box-sizing:border-box;
		border:3px solid white;
	}
	.profile-content{
		padding:0px 2rem;
	}
}
.content{
	padding:1px 2rem;
	box-sizing:border-box;
	position:relative;
}
.container{
	max-width:70rem;
	margin:0px auto;
	position:relative;
}
.comic-title{
	text-align: center;
	margin-top:2rem;
	h1{
		text-align:center;
		background-color: #fff;
		display: inline;
		border-left: .5rem solid #fff;
		border-right: .5rem solid #fff;
		line-height: 6rem;
		&:after {
			content: '';
			border-top: .3rem solid #eee;
			width: 100%;
			float: left;
			margin-top: -3.5rem;
		}
	}
}
.comic-holder{
	.comic{
		text-align: center;
	}
}
.comic-meta,.blog-meta{
	box-sizing:border-box;
	flex-basis:50%;
	min-width:250px;
	flex-grow:1;
	padding:2rem 0rem;
	.meta-title{
		font-family: 'Teko', sans-serif;
		text-transform: uppercase;
		line-height: .8em;
		line-height:4rem;
		vertical-align:middle;
		font-size:2rem;
		padding-right:1rem;
	}
	.sharing{
		display:inline-block;
		transform:translate(0px,-5px);
	}

}
.blog-meta{

}
.comic-body{
	display:flex;
	flex-wrap:wrap;
	width:100%;

	
	.comic-comment{
		flex-basis:50%;
		min-width:250px;
		flex-grow:1;
		position:relative;
		margin-left: 2px;
		margin-right: 2px;
		box-sizing: border-box;
		text-align: center;
		padding: 3rem;
		padding-bottom: 1.5rem;
		float: right;
		border-bottom: 3px solid #aaa;
		color: #666;
		margin: 0px;
		margin-top:4rem;
		margin-bottom: 2rem;
		background-color: #eee;
		background-image: none;
		background-position: center center;
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
		&:before{
			content: "Comic Comment";
			font-family: 'Teko', sans-serif;
			font-size: 3rem;
		    line-height: 4rem;
			top:0;
			left:50%;
			transform:translate(-50%,-2rem);
			position: absolute;
			text-align: left;
			display: inline-block;
			text-transform: uppercase;
			background: black;
			color: #fff;
			padding: 0px .5rem;
		}
	}
}
.comic-nav{
	background:black;
	color:white;
	text-align:center;
	padding:2rem 0rem;
	font-family: 'Teko', sans-serif;
	text-transform: uppercase;
	font-size:2.5rem;
	border-top: .5rem solid darken($link-color,10%);
	a{
		padding:0px 2rem;
		color:inherit;
		text-decoration:none;
		&:hover{
			color:$link-color;
		}
		&.disabled{
			color:#aaa;
		}
	}
}
.archive-list, .tag-list{
	padding:0px;
	margin:0px;
	display:flex;
	padding:0px 1rem;
	flex-wrap:wrap;
	a{
		flex-basis:33%;
		max-width:33%;
		flex-grow:1;
		padding:0rem 1rem 2rem;
		display:block;
		box-sizing:border-box;
		img{
			max-width:100%;
		}
		.title{
			margin:0px;
		}
	}
	&.tags{
		flex-direction:column-reverse;
	}
}
.tag-list a{
	flex-basis:25%;
	max-width:25%;
}
a.tag{
	display:inline-block;
	margin-right:.5rem;
	background:black;
	border-radius:3px;
	padding:.2rem .5rem;
	margin-bottom:1rem;
	font-weight:bold;
	color:white;
	&:hover{
		background:$link-color;
	}
}
.dropdown{
	position:relative;
	cursor:pointer;
	padding-right:2rem;
	>a:after{
		content:"";
		overflow:hidden;
		display:inline-block;
		height:1rem;
		width:1rem;
		line-height:0px;
		font-size:0px;
		box-sizing: border-box;
		margin-left:.5rem;
		top:2.5rem;
		border-bottom:2px solid white;
		border-right:2px solid white;
		border-top:2px solid transparent;
		border-left:2px solid transparent;
		position:absolute;
		transform: rotate(45deg);
		margin-top:-10px;
	}
	ul{
		display:none;
		position:absolute;
		z-index:4;
		background:black;
		border:2px solid white;
		min-width:20rem;
		padding:2rem;
		right:-1rem;
		box-sizing: border-box;
		&:before{
			content:"";
			overflow:hidden;
			display:block;
			height:1rem;
			width:1rem;
			line-height:0px;
			font-size:0px;
			box-sizing: border-box;
			background:black;
			right:1.2rem;
			top:.5rem;
			border-left:2px solid white;
			border-top:2px solid white;
			border-bottom:2px solid transparent;
			border-right:2px solid transparent;
			position:absolute;
			transform: rotate(45deg);
			margin-top:-10px;
		}
	}
	&.open{
		ul{
			display:block;
		}
	}
}
.pagination{
	min-height:3rem;
	width:100%;
	ul{
		list-style:none;
		padding:0px;
		margin:0px;
		li{
			display:inline-block;
			margin-right:-1px;
			a{
				
				
			}
			a,.current{
				display:inline-block;
				background:white;
				border:1px solid #ddd;
				padding:.5rem 1rem;
			}
		}
	}
}
.galleries{
	section{
		h1{
			flex-basis:100%;
			padding:0px 1rem;
		}
		box-sizing:border-box;
		margin-left:-1rem;
		margin-right:-1rem;
		article{
			flex-basis:100%;
			max-width:100%;
			position:relative;
			box-sizing:border-box;
			&.cols-1{
				max-width:100%;
				padding-top: 100%;
			}
			&.cols-2{
				max-width:50%;
				padding-top: 50%;
			}
			&.cols-3{
				max-width:33.333%;
				padding-top: 33.333%;
			}
			&.cols-4{
				max-width:25%;
				padding-top: 25%;
			}
			&.cols-5{
				max-width:20%;
				padding-top: 20%;
			}
			&.cols-6{
				max-width:16.66%;
				padding-top: 16.66%;
			}
			.image{
				height:100%;
				width:100%;
				position:absolute;
				box-sizing:border-box;
				transform:translate(0,-100%);
				background-repeat:no-repeat;
				background-size:cover;
				background-position:center center;
				border:1rem solid white;
				cursor:pointer;
			}
		}
	}
}
html.lb-disable-scrolling {
  overflow: hidden;
  /* Position fixed required for iOS. Just putting overflow: hidden; on the body is not enough. */
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;

  /* Image border */
  border: 4px solid white;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;

  /* Background color behind image.
     This is visible during transitions. */
  background-color: white;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  &:before{
  	content:"";
  	display:block;
  	color:black;
  	position:absolute;
  	background:white;
  	padding:20px;
  	top:50%;
  	left:0;
  	transform:translate(0,-50%);
  }
  &:after{
  	content:"";
  	display:block;
  	color:black;
  	position:absolute;
  	background:white;
  	height:10px;
  	width:10px;
  	margin-top:-5px;
  	margin-left:15px;
  	border-top:3px solid black;
  	border-left:3px solid black;
  	top:50%;
  	left:0;
  	transform:rotate(-45deg);
  }
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
  position: relative;
  &:before{
  	content:"";
  	display:block;
  	color:black;
  	position:absolute;
  	background:white;
  	padding:20px;
  	top:50%;
  	right:0;
  	transform:translate(0,-50%);
  }
  &:after{
  	content:"";
  	display:block;
  	color:black;
  	position:absolute;
  	background:white;
  	height:10px;
  	width:10px;
  	margin-top:-5px;
  	margin-right:15px;
  	border-top:3px solid black;
  	border-right:3px solid black;
  	top:50%;
  	right:0;
  	transform:rotate(45deg);
  }
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-caption a {
  color: #4ae;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  position:relative;
  background:white;
  box-sizing:border-box;
  &:before,&:after{
  	content:"";
  	box-sizing:border-box;
  	display:block;
  	background:black;
  	position:absolute;
  	height:3px;
  	width:20px;
  	top:50%;
  	left:50%;
  	margin-top:-2px;
  	margin-left:-10px;
  	transform:rotate(45deg);
  }
  &:after{
  	transform:rotate(-45deg);
  }
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}


@media(max-width:767px){
	.grid-2,.grid-3,.grid-4{
		flex-basis:50%;
	}
	.hidden-sm{
		display:none;
	}
	html{
		padding-top:0px;
		font-size:55%;
		overflow-x:visible;
	}
	body main,.flex-main{
		flex:100%;
		order:2;
	}
	body aside,.flex-side{
		flex:100%;
		order:3;
	}
	body aside.pin-top{
		order:1;
	}
	body{
		overflow-x:hidden;
		nav.site-nav{
			margin-top:50px;
			font-size:4rem;
			.social-media{
				display:none;
			}
			.logo{
				height:50px;
				margin-top:0px;
				width:150px;
				&:after{
					border-width:50px;
					height:50px;
				}
			}
			>a{
				display:block;
				margin-top:-50px;
				height:50px;
				img{
					height:50px;
					margin-top:0px
				}
			}
			>ul{
				padding:2rem;
				padding-top:7rem;
				width:100%;
				height:100vh;
				background:black;
				position:absolute;
				top:0;
				text-align:center;
				list-style: none;
				margin:0px;
				position:absolute;
				box-sizing:border-box;
				left:-100%;
				z-index:2;
				li{
					display:block;
					margin-right:0rem;
					a{
						color:inherit;
						text-decoration:none;
						display:block;
					}
				}
			}
			.mobile-menu-btn{
				display:block;

				.menu-icon{
					display:block;
				}
			}
			
			}
		}

	.homepage-header{
		article{
			flex-basis:100%;
		}
	}

	.comic-nav{
		a{
			padding:0px 1rem;
		}
	}
	.dropdown{
		padding:0px;
		ul{
			position:relative;
			height:auto;
			background:#333;
			border:none;
			right:auto;
			&:before{
				display:none;
			}
		}
	}
	.galleries{
		section{
			h1{
			}
			article{
				&.cols-3,&.cols-4,&.cols-5,&.cols-6{
					max-width:50%;
					padding-top: 50%;
				}
			}
		}
	}
	html.menu-open{
		
		overflow:hidden;
		position: relative;
		body{
			overflow:hidden;
			height:100%;
			position: relative;
			nav.site-nav{
				>ul{
					transition: left .4s;
					left:0px;
					overflow-y:auto;
				}
				.mobile-menu-btn{
					transition: right .4s;
					.menu-icon{
						background:transparent;
						&:before{
							margin-top: 0rem;
							transform: rotate(45deg);
						};
						&:after{
							margin-top: 0rem;
							transform: rotate(-45deg);
						};
					}
				} 
			}
		}
	}
}
@media(max-width:400px){
	
	.archive-list{
		a{
			min-width:50%;
			max-width:50%;
			flex-basis:50%;
			img{
				min-width:50%;
			}
		}
	}
	.tag-list a{
		flex-basis:50%;
		max-width:50%;
	}
	.comic-nav{
		padding:1rem 0rem;
		a{
			padding:0px .7rem;
		}
	}
	.homepage-content{
		text-align:center;
		.profile-pic-holder{
			flex-basis:100%;
			.profile-pic{
				max-width:20rem;
			}
		}
		.profile-content{
			padding:0px;
		}
	}
}
@media(max-width:374px){
	.comic-nav{
		padding:1rem 0rem;
		a{
			padding:0px .3rem;
		}
	}
}