{{ define "main" }}
<script>
document.getElementById("site-logo").setAttribute("src","/img/hd-logo-angle.png")
</script>
<aside>
	<div class="content">
		<h2>Select a comic</h2>
		<div class="custom-select">
			<select class="custom" onchange="location = this.value;">
				 <option value="" disabled selected>Select comic</option>
			{{ range .Pages.ByPublishDate.Reverse }}
			<option value="{{ .Permalink }}">{{ .Title }}</option>
			{{ end }}
			</select>
		</div>
	</div>
</aside>
<main>
<div class="content">
	<h2>Hamlet's Danish Archives</h2>
</div>

<section class="archive-list">
  {{ range (.Paginator 18).Pages.ByPublishDate.Reverse }}
	{{ .Render "li"}}
  {{ end }}
  {{ range (.Paginator 18).Pages.ByPublishDate.Reverse }}
	{{ .Render "li"}}
  {{ end }}
  {{ range (.Paginator 18).Pages.ByPublishDate.Reverse }}
	{{ .Render "li"}}
  {{ end }}
</section>
{{ partial "pagination" . }}

</main>

{{end}}
