$navHeight:5rem;
$contentWidth:1000px;
$link-color:#e74c3c;
$twitter-color:#00aced;
$facebook-color:#3b5998;
$rss-color:#f60;
html{
	padding:0px;
	margin:0px;
	font-family: 'Roboto', sans-serif;
	background:#666 url(/img/grey-patterned-bg.png) center top;
	background-attachment: fixed;
	padding-top:5.5rem;
	font-size:62.5%;
	max-width: 100%;
}
h1,h2,h3{
	font-family: 'Teko', sans-serif;
	text-transform: uppercase;
	line-height: .8em;
}
h1{
	font-size:6rem;	
	margin:3rem 0rem 1rem;
}
h2{
	font-size:4rem;
	margin:3rem 0rem 1rem;
}
h3{
	font-size:3rem;
}
a{
	color:$link-color;
	text-decoration:none;
	transition: all .2s;
	&:hover{
		color:darken($link-color,20%);
	}
}
img{
	max-width:100%;
}
body{
	height:100%;
	font-size:1.6rem;
	padding:0px;
	margin:0px;
	max-width:$contentWidth;
	margin:0px auto;
	display:flex;
	flex-flow: row wrap;
	>nav{
		min-width: 0; 
		flex-basis:100%;
		font-family: 'Teko', sans-serif;
		line-height:5rem;
		text-transform: uppercase;
		font-size:2.5rem;
		position:relative;
		background:black;
		color:white;
		height:$navHeight;
		box-sizing:border-box;
		.social-media{
			position:absolute;
			top:-5rem;
			right:0px;
		}
		>a{
			color:inherit;
			display:block;
			position:absolute;
			left:0px;
			img{
				height:10rem;
				margin-top:-5rem;
			}
		}
		ul{

			list-style: none;
			padding:0px;
			margin:0px;
			position:absolute;
			right:0px;
			li{
				display:inline-block;
				margin-right:1rem;
				a{
					color:inherit;
					text-decoration:none;
					white-space: nowrap;
					&:hover{
						color:$link-color;
					}
				}
			}
		}
		.mobile-menu-btn{
			display:none;
			height:5rem;
			width:100%;
			position:absolute;
			left:0;
			cursor:pointer;
			z-index:3;
			background-color:black;
			.menu-icon{
					display:block;
					height:.5rem;
					width:3rem;
					position:absolute;
					background:white;
					top:50%;
					left:50%;
					transform:translate(-50%,-50%);
					transition: all .4s;
					&:before{
						content:'';
						height:.5rem;
						width:3rem;
						position:absolute;
						background:white;
						margin-top:-1rem;
						transition: all .4s;
					};
					&:after{
						content:'';
						height:.5rem;
						width:3rem;
						position:absolute;
						background:white;
						margin-top:1rem;
						transition: all .4s;
					};
				}
		}
	}
	
}
input textarea button{
	-webkit-appearance: none;
	-moz-appearance: none;
	-appearance: none;
}
body main{
	background:white;
	padding-bottom:2rem;
	flex-grow:1;
	flex:65%;
	order:1;
	min-width: 0; 
}
body aside{
	flex:35%;
	min-width:20rem;
	flex-grow:1;
	background:#eee;
	order:2;
	min-width: 0; 
}
body footer{
	flex-basis:100%;
	order:3;
	color:#aaa;
	min-width: 0; 
}
pre{
	margin-top: 1em;
	margin-right: 0px;
	margin-bottom: 1em;
	margin-left: 0px;
	white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;
	table-layout:fixed;
    overflow:auto;
    width:100%;
    background:#eee;
    border:1px solid #ddd;
    border-radius:3px;
    max-height:300px;
    box-sizing:border-box;
    position:relative;
    padding:2rem;
    border-radius:.5rem;
    font-family: monospace,monospace;
    &:before {
		content: "SELECT CODE";
		display: block;
		position: absolute;
		font-family: "Arial",sans-serif;
		font-size: 12px;
		color: #aaa;
		right: 10px;
		top: 0px;
	}
}
.sidebar{
	.sidebar-title{
		font-size:3rem;
		display:block;
		padding:1rem 2rem;
		background:black;
		color:white;
		margin-bottom:0px;
		width:100%;
		box-sizing:border-box;
	}
	img{
		width:100%;
	}
}
.social-media{
	ul{
		list-style: none;
		padding:0px;
		margin:0px;
		display:flex;
		li{
			display:block;
			margin:0px;

			a{
				width:5rem;
				height:5rem;
				display:block;
				color:black;
				font-size:2rem;
				position:relative;
				&:hover{
					color:black;
				}
				svg{
					position:absolute;
					top:50%;
					left:50%;
					transform:translate(-50%,-50%);
					display:block;
				}
			}
			a.twitter{
				background-color:$twitter-color;
				&:hover{
					background-color:darken($twitter-color,10%);
				}
			}
			a.facebook{
				background-color:$facebook-color;
				&:hover{
					background-color:darken($facebook-color,10%);
				}
			}
			a.rss{
				background-color:$rss-color;
				&:hover{
					background-color:darken($rss-color,10%);
				}
			}
		}
		
	}
}
.btn{
	border:none;
	padding:1rem 2rem;
	box-shadow: 0 2px 0 0 #131313;
	color: #fff;
	background-color: #272727;
	border-color: #272727;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	border-radius:3px;
	font-weight:bold;
	letter-spacing: 1px;
	font-size:1.4rem;
	text-decoration:none;
	&:hover{
		color:white;
		background-color:$link-color;
		box-shadow: 0 2px 0 0 darken($link-color,20%);
	}
}
.jumbotron{
	flex-basis:100%;
	height:25rem;
	text-align:center;
	background:black;
	background-size:cover;
	background-position: center center;
	overflow:hidden;
	position:relative;
	h1{
		color:white;
		z-index:1;
		position:absolute;
		width:100%;
		top:50%;
		transform:translate(0 ,-50%);
		margin:0px;
	}
	&:before{
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background: #e74c3c;
		background: -moz-linear-gradient(top,#e74c3c 1%,#ff9d42 100%);
		background: -webkit-gradient(linear,left top,left bottom,color-stop(1%,#e74c3c),color-stop(100%,#ff9d42));
		background: -webkit-linear-gradient(top,#e74c3c 1%,#ff9d42 100%);
		background: -o-linear-gradient(top,#e74c3c 1%,#ff9d42 100%);
		background: -ms-linear-gradient(top,#e74c3c 1%,#ff9d42 100%);
		background: linear-gradient(to bottom,#e74c3c 1%,#ff9d42 100%);
		filter: progid:dximagetransform.microsoft.gradient(startColorstr='#e74c3c',endColorstr='#ff9d42',GradientType=0);
		top: 0px;
		left: 0px;
		opacity: .8;
	}
}
.blog-list{
	article{
		padding-bottom:5rem;
	}
}
.custom-select{
	position:relative;
	margin-bottom:2rem;
	&:after{
		content:"";
		overflow:hidden;
		display:inline-block;
		height:1rem;
		width:1rem;
		line-height:0px;
		font-size:0px;
		box-sizing: border-box;
		right:1rem;
		top:2.2rem;
		border-bottom:2px solid black;
		border-right:2px solid black;
		border-top:2px solid transparent;
		border-left:2px solid transparent;
		position:absolute;
		transform: rotate(45deg);
		margin-top:-10px;
	}
	select{
		background:transparent;
		height:4rem;
		overflow:hidden;
		width:100%;
		border: 1px solid #aaa;
		padding:.5rem;
		font-size:1.6rem;
		-webkit-appearance: none;
		border-radius:0px;
		
	}
}
	
.contact-form{
	padding:1rem;
	.input-group{
		display:flex;
		flex-wrap:wrap;
		justify-content: space-between;
		.input-field{
			box-sizing:border-box;
			flex-basis:50%;
			min-width:30rem;
			flex-grow:1;
			padding:1rem;
		}
		.button-holder{
			box-sizing:border-box;
			flex-basis:100%;
			flex-grow:1;
			padding:0px 1rem;
		}
	}
	fieldset{
		border:none;
		padding:0;
		margin:0px;
		box-sizing:border-box;
		label{
			margin-bottom:1rem;
			display:block;
		}
		input, textarea{
			width:100%;
			padding:1rem 2rem;
			box-sizing:border-box;
			border-radius:3px;
			border:1px solid #aaa;
		}
		textarea{
			padding:1rem;
		}
		label{

		}
	}
}
.content{
	padding:0px 2rem;
	box-sizing:border-box;
}
.comic-title{
	text-align: center;
	margin-top:2rem;
	h1{
		text-align:center;
		background-color: #fff;
		display: inline;
		border-left: .5rem solid #fff;
		border-right: .5rem solid #fff;
		line-height: 6rem;
		&:after {
			content: '';
			border-top: .3rem solid #eee;
			width: 100%;
			float: left;
			margin-top: -3.5rem;
		}
	}
}
.comic-body{
	display:flex;
	flex-wrap:wrap;
	width:100%;
	.comic-meta{
		box-sizing:border-box;
		flex-basis:50%;
		min-width:250px;
		flex-grow:1;

	}
	.comic-comment{
		flex-basis:50%;
		min-width:250px;
		flex-grow:1;
		position:relative;
		margin-left: 2px;
		margin-right: 2px;
		box-sizing: border-box;
		text-align: center;
		padding: 3rem;
		padding-bottom: 1.5rem;
		float: right;
		border-bottom: 3px solid #aaa;
		color: #666;
		margin: 0px;
		margin-top:3rem;
		margin-bottom: 2rem;
		background-color: #eee;
		background-image: none;
		background-position: center center;
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
		&:before{
			content: "Comic Comment";
			font-family: 'Teko', sans-serif;
			font-size: 3rem;
			top:0;
			left:50%;
			transform:translate(-50%,-2rem);
			position: absolute;
			text-align: left;
			display: inline-block;
			text-transform: uppercase;
			background: #aaa;
			color: #fff;
			padding: .5rem;
		}
	}
}
.comic-nav{
	background:black;
	color:white;
	text-align:center;
	padding:2rem 0rem;
	font-family: 'Teko', sans-serif;
	text-transform: uppercase;
	font-size:2.5rem;
	border-top: .5rem solid #aaa;
	a{
		padding:0px 2rem;
		color:inherit;
		text-decoration:none;
		&:hover{
			color:$link-color;
		}
		&.disabled{
			color:#aaa;
		}
	}
}
.archive-list, .tag-list{
	padding:0px;
	margin:0px;
	display:flex;
	padding:0px 1rem;
	flex-wrap:wrap;
	a{
		flex-basis:33%;
		max-width:33%;
		flex-grow:1;
		padding:0rem 1rem 2rem;
		display:block;
		box-sizing:border-box;
		img{
			max-width:100%;
		}
		.title{
			margin:0px;
		}
	}
	&.tags{
		flex-direction:column-reverse;
	}
}
.tag-list a{
	flex-basis:25%;
	max-width:25%;
}
a.tag{
	display:inline-block;
	margin-right:.5rem;
	background:#eee;
	border-radius:3px;
	padding:.2rem .5rem;
	margin-bottom:1rem;
	font-weight:bold;
}
.dropdown{
	position:relative;
	cursor:pointer;
	padding-right:2rem;
	>a:after{
		content:"";
		overflow:hidden;
		display:inline-block;
		height:1rem;
		width:1rem;
		line-height:0px;
		font-size:0px;
		box-sizing: border-box;
		margin-left:.5rem;
		top:2.5rem;
		border-bottom:2px solid white;
		border-right:2px solid white;
		border-top:2px solid transparent;
		border-left:2px solid transparent;
		position:absolute;
		transform: rotate(45deg);
		margin-top:-10px;
	}
	ul{
		display:none;
		position:absolute;
		z-index:4;
		background:black;
		border:2px solid white;
		min-width:20rem;
		padding:2rem;
		right:-1rem;
		box-sizing: border-box;
		&:before{
			content:"";
			overflow:hidden;
			display:block;
			height:1rem;
			width:1rem;
			line-height:0px;
			font-size:0px;
			box-sizing: border-box;
			background:black;
			right:1.2rem;
			top:.5rem;
			border-left:2px solid white;
			border-top:2px solid white;
			border-bottom:2px solid transparent;
			border-right:2px solid transparent;
			position:absolute;
			transform: rotate(45deg);
			margin-top:-10px;
		}
	}
	&.open{
		ul{
			display:block;
		}
	}
}
.pagination{
	min-height:3rem;
	width:100%;
	ul{
		list-style:none;
		padding:0px;
		margin:0px;
		li{
			display:inline-block;
			margin-right:-1px;
			a{
				
				
			}
			a,.current{
				display:inline-block;
				background:white;
				border:1px solid #ddd;
				padding:.5rem 1rem;
			}
		}
	}
}
@media(max-width:767px){
	.hidden-sm{
		display:none;
	}
	html{
		padding-top:0px;
		font-size:50%;
		overflow-x:visible;
	}
	body main{
		flex:100%;
		order:2;
	}
	body aside{
		flex:100%;
		order:3;
	}
	body aside.pin-top{
		order:1;
	}
	body{
		overflow-x:hidden;
		>nav{
			margin-top:50px;
			.social-media{
				display:none;
			}
			>a{
				display:block;
				margin-top:-50px;
				height:50px;
				img{
					height:50px;
					margin-top:0px
				}
			}
			ul{
				padding:2rem;
				padding-top:7rem;
				width:100%;
				height:100vh;
				background:black;
				position:absolute;
				top:0;
				text-align:center;
				list-style: none;
				margin:0px;
				position:absolute;
				box-sizing:border-box;
				left:-100%;
				z-index:2;
				li{
					display:block;
					margin-right:0rem;
					a{
						color:inherit;
						text-decoration:none;
						display:block;
					}
				}
			}
			.mobile-menu-btn{
				display:block;

				.menu-icon{
					display:block;
				}
			}
			
			}
		}

	.comic-nav{
		a{
			padding:0px 1rem;
		}
	}
	.dropdown{
		padding:0px;
		ul{
			position:relative;
			height:auto;
			background:#333;
			border:none;
			right:auto;
			&:before{
				display:none;
			}
		}
	}
	html.menu-open{
		
		overflow:hidden;
		position: relative;
		body{
			overflow:hidden;
			height:100%;
			position: relative;
			>nav{
				ul{
					transition: left .4s;
					left:0px;
					overflow-y:auto;
				}
				.mobile-menu-btn{
					transition: right .4s;
					.menu-icon{
						background:transparent;
						&:before{
							margin-top: 0rem;
							transform: rotate(45deg);
						};
						&:after{
							margin-top: 0rem;
							transform: rotate(-45deg);
						};
					}
				} 
			}
		}
	}
}
@media(max-width:500px){
	.archive-list{
		a{
			min-width:50%;
			max-width:50%;
			flex-basis:50%;
			img{
				min-width:50%;
			}
		}
	}
	.tag-list a{
		flex-basis:50%;
		max-width:50%;
	}
	.comic-nav{
		padding:1rem 0rem;
		a{
			padding:0px .5rem;
		}
	}
}