{{ define "main" }}

<main>
	<div class="content">
		<div class="galleries">
			{{ range .Params.galleries }}
				{{ $.Scratch.Set "rowNum" .rownum }}
				{{ if .fullimage }}
					{{ $.Scratch.Set "bgSize" "contain" }}
				{{ else }}
					{{ $.Scratch.Set "bgSize" "cover" }}
				{{ end }}
				<section class="flex">
					<h1>{{ .title }}</h1>				
					{{ range .gallery }}
						<article class="image-holder cols-{{ $.Scratch.Get "rowNum" }}">
							<div style="background-image:url({{ .image }});background-size:{{ $.Scratch.Get "bgSize" }}" class="image">
							</div>
						</article>
					{{ end }}
				</section>
			{{ end }}
		</div>
	</div>
</main>

{{ end }}
