{{ define "main" }}
<script src="/js/lightbox.js"></script>
<main>
	<div class="content">
		<div class="galleries">
			{{ range $index, $element := .Params.galleries }}
				{{ $.Scratch.Set "rowNum" .rownum }}
				{{ if .fullimage }}
					{{ $.Scratch.Set "bgSize" "contain" }}
				{{ else }}
					{{ $.Scratch.Set "bgSize" "cover" }}
				{{ end }}
				<section class="flex gallery">
					<h1>{{ .title }}</h1>				
					{{ range .gallery }}
						<article class="image-holder cols-{{ $.Scratch.Get "rowNum" }}">
							{{ $image := .image }}
							{{ with $.Site.GetPage "page" "img/_index.md" }}
						    	{{ $imgPath := split $image "/"}}
						    	{{ $img := index $imgPath 2 }}
						    	{{ with .Resources.GetMatch $img }}
						        	{{$img400 := .Resize "400x"}}
						       		<a href="{{ $image }}" data-lightbox="gallery-{{ $index }}"><div style="background-image:url({{ $img400.RelPermalink }});background-size:{{ $.Scratch.Get "bgSize" }}" data-image="{{ $image }}" class="image"></div></a>
						    	{{ end }}
							{{ end }}
						</article>
					{{ end }}
				</section>
				
			{{ end }}
		</div>
	</div>
</main>
{{ end }}
