{{ define "main" }}
<script src="/scripts/lightbox.js"></script>
<main>
	<div class="content">
		<div class="galleries">
			{{ range $index, $element := .Params.galleries }}
				{{ $.Scratch.Set "rowNum" .rownum }}
				{{ if .fullimage }}
					{{ $.Scratch.Set "bgSize" "contain" }}
				{{ else }}
					{{ $.Scratch.Set "bgSize" "cover" }}
				{{ end }}
				<section class="flex gallery">
					<h1>{{ .title }}</h1>				
					{{ range .gallery }}
						<article class="image-holder cols-{{ $.Scratch.Get "rowNum" }}">
							{{ $image := .image }}
							{{ with $.Site.GetPage "page" "img/_index.md" }}
						    	{{ $imgPath := split $image "/"}}
						    	{{ $img := index $imgPath 2 }}
						    	{{ with .Resources.GetMatch $img }}
						        	{{$img400 := .Resize "400x"}}
						       		<a href="{{ $image }}" data-lightbox="gallery-{{ $index }}"><div style="background-image:url({{ $img400.RelPermalink }});background-size:{{ $.Scratch.Get "bgSize" }}" data-image="{{ $image }}" class="image"></div></a>
						    	{{ end }}
							{{ end }}
						</article>
					{{ end }}
				</section>
				
			{{ end }}
		</div>
	</div>
</main>
<script>
	$(document).ready(function(){
		// $(".gallery").each(function(){
		// 	var gallery=this;
		// 	$(".image", gallery).click(function(e){
		// 		var imgIndex=$(".image", gallery).index(this)
		// 		console.log(imgIndex)
		// 		var lightboxHTML='<section class="lightbox">';
		// 			$('.image', gallery).each(function(index){
		// 				lightboxHTML+='<article'
		// 				if(imgIndex==index){
		// 					lightboxHTML+=' class="active"';
		// 				}
		// 				lightboxHTML+='><img src="'+$(this).attr("data-image")+'"></article>'
		// 			})
		// 		lightboxHTML+="</section>"
		// 		$("body").append(lightboxHTML)
		// 		$("html").addClass("lightbox-open")
		// 	})
		// })
		// $(".gallery").each(function(index){
		// 	var index=index;
		// 	$("body").append('<section class="lightbox" id="gallery-'+index+'" ></section>')
		// 	$(".image", this).each(function(imgindex){
		// 		var galleryImg=this;
		// 		var imgindex=imgindex;
		// 		var imgURL=$(this).attr("data-image");
		// 		$("#gallery-"+index).append('<img class="entry-'+imgindex+'" src="'+imgURL+'">')
		// 		$(this).click(function(){
		// 			var imgURL=$(this).attr("data-image");
		// 			if(!$("html").hasClass("lightbox-open")){
		// 				$("html").addClass("lightbox-open");
		// 			}
		// 			$("#gallery-*").removeClass("open");
		// 			$("#gallery-"+index).addClass("open");
		// 			console.log($(this).index())
		// 			$("#gallery-"+index+" .entry-"+$(this).index()).addClass("active");
		// 		})
		// 	})
		// })
		
	})
</script>
{{ end }}
