{{ define "main" }}

<main class="portfolio-page">
		<section>
				<header class="text-center ellucian-live-header portfolio-header">
					<h1>Ellucian Live Website</h1>
					<p><i>Creating a virtual event</i></p>
				</header>
				<main class="portfolio-content">
					<h2>Background</h2>
					<p>Every year, Ellucian hosts one of the largest higher education conferences, Ellucian Live, which draws over eight thousand attendees. </p>
					<p>As the Senior Website Manager at Ellucian, my task was to create an evergreen virtual experience for convention attendees so they could register, submit proposals, view schedules and sessions, and get general conference information such as keynote speaker info, exhibitor lists, and hotel and travel accommodations throughout the year.</p>

					<h2>Taking Initiative</h2>
					<p>Since the scope of this project was limited, I was solely responsible for executing all design and developement aspects of this project from conception to launch.</p>
					<p>The initial steps I took were:</p>
						<ul>
							<li>Conducted competive analysis</li>
							<li>Met with our event coordinators to plan content and functionality requirements</li>
							<li>Mapped out the IA</li>
							<li>Worked out an update schedule for phases throughout the year (e.g. registration opens, call for proposals, session info becomes available, etc.)</li>
						</ul>

					<h2>Designing the Solution</h2>
					<p>Once the project IA and scope were agreed upon, I built out working prototype designs as wireframes in HTML/CSS/JS to save time and get early buy-in on the look and feel. Since I wasn't collaborating with a design or development team, it was more efficient to merge the design and wireframe prototype process, and incorporate requested changes on the fly. After I got approval on the prototype designs I was ready to move to the development phase.</p>

					<h2>Developing the Site</h2>
					<p>I built a custom template within Drupal and developed the HTML/CSS/JS.</p>

					<h2>Post Launch</h2>
					<p>After I built the first version of the site, it became an evergreen project, requiring yearly brand and design refreshes to match the conference location and brand updates.</p>
					<br><br><br><br>
							<p class="text-center">
							<a class="btn" href="/portfolio">Back to portfolio</a>
							</p>
				</main>
		</section>
</main>

{{ end }}
