{{ define "main" }}

<main class="portfolio-page">
		<section>
				<header class="text-center ellucian-header portfolio-header">
					<h1>Ellucian Website</h1>
					<p><i>Rebuilding for higher-ed from the ground up</i></p>
				</header>
				<main class="portfolio-content">
					<h2>Background</h2>
					<p>Ellucian is the world's largest provider of higher education software and services and it needed to tailor its company website to education-specific personas and cross promote products from its extensive suite.</p>
					<p>As the Senior Website Manager at Ellucian, my task was to transform Ellucian's company website from a generic enterprise software site into an education specific, persona-based demand generation engine that would better support the sales team and ultimately increase leads.</p>

					<h2>Understanding the Problem</h2>
					<p>Ellucian is unique among its competitors because of its sole focus on higher education, and the company website needed to leverage this advantage.</p>
					<p>I led the team to:</p>
						<ul>
							<li>Conduct competive analysis to determine areas where we could differentiate and where we needed to align to standard practices</li>
							<li>Interview the sales team and conduct user surveys to identify personas, map user journeys, and identify pain points</li>
							<li>Use our research to build out the site's IA to organize the products and content based on personas</li>
							<li>Determine a taxonomy to dynamically surface relevant content to the right users at the right time</li>
						</ul>

					<h2>Wireframing the Solution</h2>
					<p>Working with the design team, I converted the IA sitemap into wireframes for the website. I led a collaborative effort to iterate and review the wireframes and communicated our ideas to get buy-in from leadership.</p>
					<img class="img-fluid" src="/img/portfolio-ellucian-wireframe.jpg"/>

					<h2>Unified Design</h2>
					<p>I worked along with our Brand Director to build web design guidelines to ensure that we would present a unified design as well as match the look and feel of our product, print, and media counterparts. Using those guidelines and working with an agency, I led the effort to convert the wireframes to prototype designs.</p>
					<img class="img-fluid" src="/img/portfolio-ellucian-design.jpg"/>

					<h2>Developing the Site</h2>
					<p>I worked with the backend Drupal development team to convert the designs into Twig templates and modules using HTML CSS and Javascript.</p>

					<h2>Post Launch and Lessions Learned</h2>
					<p>Post launch we saw a dramatic increase in leads, session time, and engagement with our thought leadership content, but as we continued to monitor metrics, we identified areas for improvement.</p>

<br>
					
							<h3>For Example...</h3>
							<p>Our user research initially determined that users liked to self-select by their department, so we put an interactive campus department selector at the top of the homepage to get them to the content most relevent to them as soon as possible. This turned out to not have the engagement we'd hoped for, so we switched to spotlight our most relevant campaigns and content to drive more engagement, and moved the campus selector lower down the page. This increased interaction with both sections.</p>
							<img class="img-fluid" src="/img/portfolio-ellucian-lessions.jpg"/>

							<br><br><br><br>
							<p class="text-center">
							<a class="btn" href="/portfolio">Back to portfolio</a>
							</p>
				</main>
		</section>
</main>

{{ end }}
