{{ define "main" }}

<main class="portfolio-page">
		<section>
				<header class="text-center portfolio-header main-page">
					<div class="portfolio-content grey-bg">
					<h1>My Portfolio</h1>
					<p>With over 17 years of experience in web design, development, UI and UX, I have worked on countless projects for clients from initial conception to post-launch. I have selected three examples as highlights.</p>
				</div>
				</header>
				<main class="flex">
					<a class="portfolio-link ellucian" href="/portfolio-ellucian-website"><h2>Ellucian<br>Website</h2></a>
					<a class="portfolio-link ellucian-live" href="/portfolio-ellucian-live-website"><h2>Ellucian Live<br>Website</h2></a>
					<a class="portfolio-link addthis" href="/portfolio-addthis"><h2>AddThis<br>Apps</h2></a>
				</main>
		</section>
</main>

{{ end }}
