{{ define "main" }}

<main class="portfolio-page">
		<section>
				<header class="text-center addthis-header portfolio-header">
					<h1>AddThis Apps</h1>
					<p><i>Building widgets and Facebook apps</i></p>
				</header>
				<main class="portfolio-content">
					<h2>Background</h2>
					<p>AddThis was originally a widget platform called Clearspring, and I was part of their internal creative studio. I built out custom widgets for a variety of media clients.</p>
					<p>As Senior Web Developer at AddThis/Clearspring, I handled each client's project from conception to launch with deadlines ranging from one week to a couple months.</p>

					<h2>Micro Experiences</h2>
					<p>Each project was focused around a single user experience. My job was to come up with the best way to deliver a high quality custom experience and make the content as shareable as possible.</p>
					<p>For each project, I would:</p>
					<ul>
						<li>Receive an RFP and lead a project kickoff with the client to brainstorm ideas and provide insights into best practices for sharable content</li>
						<li>Design wireframes</li>
						<li>Create and finalize the designs</li>
						<li>Develop the widget or app in Flash or HTML/CSS/JS</li>
						<li>Launch the app on our platform, and provide client with shareable embed code</li>
					</ul>

					<h2>Unique Challenges</h2>
					<p>Since every project was a stand-alone experience, each one required creative problem solving.</p>
					<p>Some of the higlights of my work were:</p>
					<ul>
						<li>A SpongeBob Squarepants Facebook mood sharing app that leveraged the Facebook API to determine which moods were most popular and which were trending with your friends</li>
						<li>A Lego Indiana Jones Flash app where you could mix and match body parts to dynamically generate an avatar image that could be shared in your timeline.</li>
						<li>A suite of over 50 ESPN widgets that leveraged their data APIs so you could track your teams and sports in real time on your Facebook page</li>
					</ul>
					<br><br><br><br>
							<p class="text-center">
							<a class="btn" href="/portfolio">Back to portfolio</a>
							</p>

				</main>
		</section>
</main>

{{ end }}
