{{ define "main" }}
<main>
{{ with .Site.GetPage "/hamlets-danish-comic" }}
    {{ range first 1 .Pages }}
    <div class="comic-holder">
    <div class="comic-title">
      <h1>{{.Title}}</h1>
    </div>
    <div class="comic">
      {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
      <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>







    <nav class="comic-nav">
        {{if .PrevInSection}}
        <a href="{{ range last 1 .CurrentSection.Pages }}{{ .Permalink }}{{ end }}">First</a>
        <a href="{{.PrevInSection.Permalink}}">Previous</a>
        {{ else }}
        First Previous
        {{ end }}
        <a href="#" id="random-btn">Random</a>
        {{ if .NextInSection }}
        <a href="{{ .NextInSection.Permalink }}">Next</a>
        <a href="{{ range first 1 .CurrentSection.Pages }}{{ .Permalink }}{{ end }}">Today</a>
        {{ else }}
        Next Today
        {{ end }}
        </div>
    </nav>
    <script>
      //Set the Random link
      var currentPageLink="{{ .Permalink }}";
      {{ with .Site.GetPage "/hamlets-danish-comic" }}
      var pages=[
        {{ range .Pages }}
          "{{ .Permalink }}"{{if .PrevInSection}},{{ end }}
        {{ end }}
        ];
      {{ end }}
      var randPages=pages.slice(0);
      randPages.splice( randPages.indexOf(currentPageLink), 1 );
      var randComicIndex=Math.floor(Math.random() * Math.floor(randPages.length));
      document.getElementById("random-btn").setAttribute("href",randPages[randComicIndex])
    </script>



    </div>
    <div class="comic-body">
      {{ .Content }}
    </div>
      
    
  </div>

    {{ end }}
{{ end }}
{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "short-text" .Params.blurb}}

{{ partial "2-up" .Params }}

{{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") }}

{{ partial "blog" . }}
</main>
{{ end }}
